/*
!/src

!/.babelrc.js
!/.eslintrc

!/.gitignore
!/.npmignore
!/.github
!/.nojekyll

!/LICENSE
!/README.md

!/bun.lockb
!/package.json

!/rollup.config.js

!/tsconfig.json
!/tsconfig.types.json
!/index.html
!/favicon.ico
